* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0EBD8;
    font-family: 'Inter', sans-serif;
}

header img {
    margin-top: 40px;
}

.main {
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
}

.main p {
    text-align: center;
    background-color: transparent;
}

.text-area {
    margin: 80px;
}

.output {
    height: 800px;
    width: 400px;
    margin-top: -40px;
    padding: 150px 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 32px;
    background-color: #FCFAF9;
    text-align: center;
}

.output img, h2, p {
    margin-bottom: 32px;
    background-color: #FCFAF9;
}

.main-btn {
    margin-left: 100px;
    margin-top: 25px;
}

.btn-criptografar {
    background-color: #0A3871;
    color: #FFFFFF;
    padding: 24px;
    border-radius: 24px;
    border: none;
    width: 328px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 24px;
}

.btn-criptografar:hover {
    background-color: #0e468b;
    transition: .4s all ease-in-out;
}

.btn-descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    width: 328px;
    font-size: 16px;
    cursor: pointer;
}

.btn-descriptografar:hover {
    background-color: #e4edf7;
    transition: .4s all ease-in-out;
}

#input-texto {
    height: 800px;
    width: 400px;
    resize: none;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
}

textarea#output-text {
    height: 400px;
    width: 400px;
    resize: none;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    font-family: 'Inter', sans-serif;
}

.btn-copiar {
    bottom: 400px;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-copiar:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .btn-copiar {
        padding: 10px 30px;
    }
}

footer {
    margin-left: 35px;
}

footer p {
    background-color: transparent;
    margin-bottom: 0;
}

footer a {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-bottom: 20px;
}

footer a:nth-child(2) {
    color: rgb(0, 98, 255);
}

@media screen and (max-width: 1700px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 85vw;
    }
}

@media screen and (max-width: 1450px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 85vw;
    }

    header {
        display: block;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    #output {
        height: 400px;
        align-self: center;
        margin-top: 40px;
        background-color: #FFFFFF;
    }

    #output img, h2, p {
        background-color: transparent;
    }

    .btn-copiar {
        position: relative;
        margin-top: 270px;
    }

    @media screen and (max-width: 1100px) {
        .container-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 20px;
        }

        .container-input textarea {
            width: 900px;
            resize: none;
            align-self: center;
            margin: 0 auto;
        }

        #decodificador-de-texto.textarea {
            max-width: 80%;
            resize: none;
        }

        #output.input {
            position: relative;
            height: 800px;
        }

        #output.input img {
            margin-top: 0;
            padding: 0;
            position: absolute;
            top: -50;
        }

        footer {
            display: inline-block;
            position: absolute;
            bottom: 0;
        }
    }
}